{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
  <h1>{{ user.name }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock %}


{% block css %}
  {{ block.super }}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% leaflet_js plugins="forms" %}
  <script>
    {% include "leaflet/_leaflet_image_path.html" %}
  </script>
{% endblock %}