{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.name }}</h2>

    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <ul>
      <li>
        <a href="{% url 'users:update' %}">Name, Handynr. oder Ortsverantwortlichkeit ändern</a>
      </li>
      <li>
        <a href="{% url 'account_email' %}">E-Mail ändern oder hinzufügen</a>
      </li>
      <li>
        <a href="{% url 'account_set_password' %}">Passwort ändern</a>
      </li>
    </ul>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
