{% extends "admin/change_form.html" %}

{% load i18n %}

{% block content %}
  {{ block.super }}
  {% if original.pk %}
    <div>
      <h3>Neuen Sammeltermin anlegen</h3>
      <form method="post" action="{% url 'admin:collection-collectionevent-create_from_event' event_id=original.pk %}">
      {% csrf_token %}
        {% if original.rule %}
          <label>
            Datum:
            <input type="date" name="date" value=""/>
          </label>
        {% endif %}
        
        <input type="submit" value="Neuen Sammeltermin anlegen"/>
      </form>
    </div>
  {% endif %}
{% endblock %}
