{% load scheduletags %}
<div>
  {% if day.has_occurrences %}
      {% for o in day.get_occurrence_partials %}
        <div class="starttime">
            <a href="{{ o.occurrence.get_absolute_url }}">
              {% ifequal o.class 0 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
              {% ifequal o.class 1 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
              {% ifequal o.class 2 %}(All day){% endifequal %}
              {% ifequal o.class 3 %}Ends at {{ o.occurrence.end|time:"G:i" }}{% endifequal %}
              –
              {% title o.occurrence %}
            </a>
        </div>
      {% endfor %}
  {% endif %}
</div>
