{% extends "schedule/base.html" %}
{% load scheduletags i18n %}

{% block main %}

<div class="container-fluid">

<h2>{{ calendar.name }}</h2>
<div>
<p>
  {% trans "\W\e\ek W, M Y" as week_format %}
  {% prevnext "week_calendar" calendar period week_format %}
</p>
</div>

<div class="mb-3">
  <a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}">
    {% trans "Month" %}
  </a>
  <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Year" %}
  </a>
</div>

<div class="row">
  {% for day in period.get_days %}
    <div class="col">
        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}">
          {{day.start|date:"l, d.m."}}
        </a>
      {% if forloop.first %}
          {% daily_table day %}
      {% else %}
          {% daily_table day %}
      {% endif %}
    </div>
  {% endfor %}
</div>

</div>
{% endblock %}
