{% extends "schedule/base.html" %}
{% load scheduletags i18n %}

{% block body %}
{% include "schedule/_dialogs.html" %}
<div class="">
  <h2 class="calendarname">{{ calendar.name }}</h2>

  <div class="text-center">
    {% prevnext "month_calendar" calendar period "F Y"%}
  </div>

  <div class="now">
    <a href="{% url "month_calendar" calendar.slug %}">
      {% trans "This month" %}
    </a>
  </div>
  <div class="">
    {% month_table calendar period "regular" %}
  </div>
</div>

{% endblock %}
