{% extends "schedule/base.html" %}
{% load i18n staticfiles scheduletags %}
{% load collection_tags %}

{% block body %}
<div class="navigation">
  <a class="btn btn-primary" href="{% url "day_calendar" event.calendar.slug %}{% querystring_for_date event.start 3 %}">
    {% trans "Day" %}
  </a>
  <a class="btn btn-primary" href="{% url "month_calendar" event.calendar.slug %}{% querystring_for_date event.start 2 %}">
    {% trans "Month" %}
  </a>
  <a class="btn btn-primary" href="{% url "year_calendar" event.calendar.slug %}{% querystring_for_date event.start 1 %}">
    {% trans "Year" %}
  </a>
</div>

<div class="event_actions">
  {% if back_url %}
  <a href="{{ back_url }}">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </a>
  &nbsp;
  {% endif %}
</div>

<h2>{{event.title}}</h2>

{% if event.description %}
  <p>{{ event.description|linebreaksbr }}</p>
{% endif %}

<table class="table">
<tr>
<td>{% trans "Starts" %}</td>
<td>{% blocktrans with event.start|date:"DATETIME_FORMAT" as start_date %}{{ start_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Ends" %}</td>
<td>{% blocktrans with event.end|date:"DATETIME_FORMAT" as end_date %}{{ end_date }}{% endblocktrans %}</td>
</tr>
{% if event.rule %}
  <tr>
    <td>{% trans "Reoccurs" %}</td>
    <td>{{ event.rule.name }} {% trans "until" %} {% blocktrans with event.end_recurring_period|date:"DATETIME_FORMAT" as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
  </tr>
{% endif %}
</table>

{% show_related_collection request event %}

{% endblock %}
