{% extends "schedule/base.html" %}
{% load i18n staticfiles scheduletags %}
{% load collection_tags %}

{% block body %}

<h2>{{occurrence.title}}</h2>

{% if occurrence.description %}
  <p>{{ occurrence.description|linebreaksbr }}</p>
{% endif %}

<table class="table">
<tr>
<td>{% trans "Starts" %}</td>
<td>{% blocktrans with occurrence.start|date:"DATETIME_FORMAT" as start_date %}{{ start_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Ends" %}</td>
<td>{% blocktrans with occurrence.end|date:"DATETIME_FORMAT" as end_date %}{{ end_date }}{% endblocktrans %}</td>
</tr>
{% if event.rule %}
  <tr>
    <td>{% trans "Reoccurs" %}</td>
    <td>{{ event.rule.name }} {% trans "until" %} {% blocktrans with event.end_recurring_period|date:"DATETIME_FORMAT" as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
  </tr>
{% endif %}
</table>

{% show_related_collection event %}

{% endblock %}
