
@import "custom_bootstrap_vars";
@import "bootstrap";




// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

#detailmap {
  width: 100%;
  height: 40vh;
}

#smallmap {
  width: 100%;
  height: 300px;
}

/* Calendar */

caption {
  caption-side: top;
  text-align: center;
}

td.has-occurence {
  @extend .bg-primary;
  a, a:hover {
    color: #fff;
  }
}

.week-links {
  a {
    @extend .text-muted;
  }
}

.glyphicon.glyphicon-circle-arrow-right::after {
  content: "->"
}

.glyphicon.glyphicon-circle-arrow-left::after {
  content: "<-"
}