{% extends "collection/base.html" %}

{% load i18n %}
{% load leaflet_tags %}
{% load scheduletags %}

{% block content %}
  <h2 class="mt-3">
    Sammelgruppe „{{ object.name }}“
  </h2>

  <div class="row mt-3 mb-3">
    <div class="col-md-6">
      {% if is_member %}
        <span class="badge badge-success float-right">
          Mitglied der Sammelgruppe
        </span>
      {% endif %}
      <p>Diese Gruppe hat {{ member_count}} Mitglieder.</p>
      {% if object.description %}
        <p>{{ object.description }}</p>
      {% endif %}

      {% if events %}
        <h4>Nächste Sammeltermine zum Mitmachen</h4>
        <ul>
          {% for event in events %}
            <li>
              <a href="{{ event.get_absolute_url }}">
                {{ event.start.date|date:"SHORT_DATE_FORMAT" }}</strong> ab {{ event.start|date:"TIME_FORMAT" }} Uhr: {{ event.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col-md-6">
      {% if object.geo %}
        {% leaflet_map "detailmap" callback="window.map_init_basic" %}
      {% endif %}
    </div>
  </div>

  {% if request.user.is_authenticated and is_member %}
    <h3>Gruppenmitglieder</h3>
    <ul>
      {% for member in members %}
        <li>{{ member.user }} {% if member.responsible %}<span class="badge badge-secondary">*</span>{% endif %}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% include "collection/_collectiongroup_join.html" %}

  {% if object.calendar %}
    <h3>Terminübersicht dieser Gruppe</h3>
    <div class="row">
      <div class="col-12">
        {% month_table object.calendar period "regular"  %}
      </div>
      <div class="col-12">
        {% month_table object.calendar period "regular" 1 %}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block css %}
  {{ block.super }}
  {% leaflet_css %}
{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
      function map_init_basic (map, options) {
        var feature = {{ object.geo.geojson|safe }};
        var latlng = feature.coordinates
        latlng.reverse()
        L.marker(latlng).addTo(map);
        map.flyTo(latlng, 14)
      }
  </script>

  {% leaflet_js %}
  <script>
    {% include "leaflet/_leaflet_image_path.html" %}
  </script>
{% endblock %}